@import url("https://fonts.googleapis.com/css?family=Readex+Pro:wght@400,500,600,700;400&display=swap");

body,
html {
  font-family: "Readex Pro", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#main {
  height: 100vh;
}

.navlink {
  color: white;
}
.navlink:hover {
  color: #8aff97;
}
.navlink.isActive {
  color: #8aff97;
}